@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

html { 
  background-color: #708090
}

.hello{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 4px;
  position: absolute;
  top: 94px;
  left: 540px;
  width: 40%;
}

.hello1{
  position: absolute;
  top: 80px;
  left: 80px;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}
